
<div id="bg">
    <img src="images/syria.jpg" alt="">
</div>

<div id="logo">
  <img src="images/red7.png">
</div>

<!-- End of background designs -->










<p id="notice"><%= notice %></p>
<%= link_to 'New Board', new_board_path %>

<br>


<article class="tabs">
  <ul>
    <% @boards.each do |board| %>
          <li><a data-id-number = "tt<%= board.id %>" href="#tt<%= board.id%>"> <%= board.title %> </a></li>

    <% end %>
  </ul>

<% @boards.each do |board| %>
  <%= render partial: 'action', locals: {board: board } %>


  <section id="tt<%= board.id %>" > 

    <div class="boardConfig" > <!-- Beginning of board config -->
     
      <div class="postActions"> 
          <!-- Trigger/Open The Modal -->
          <button id="myBtn">Open Modal</button>
      </div>
    <!-- Trigger/Open The Modal -->
  
    <div class="display">
    <% @sorted_content.select{|item| item.board_id == board.id}.each do |content| %>
      <% if content.class == Link %>
         <div class="content">
          <div><%= image_tag content.img_source, :class => "style_image" %></div>
          <div><%= content.title %></div>
          <div><%= content.created_at %></div>
          <div><%= link_to 'Show', board_link_path(board, content) %></div>
        </div>
      <% elsif content.class == Video %>
       <div class="content">
          <div><%= image_tag content.larger_thumbnail, :class => "style_image" %></div>
          <div><%= content.title %></div>
          <div><%= content.created_at %></div>
          <div><%= link_to 'Show', board_video_path(board, content) %></div>
        </div>
      <% elsif content.class == Post %>
        <div class="content postStyle">
          <div><h3><%=  content.title %></h3></div>
          <div><%=  content.source %> </div>
          <div><%= link_to 'Show', board_post_path(board, content) %> </div>
        </div>
      <% else %>
        <div> else </div>
      <% end %>
    <% end %>

    
 
    </div> <!-- End of board config -->
  </section> 
  </div> <!-- End of board config -->

<% end %>
</article>





